.node { 
    &-name-input {
        width: 30px;
    }
}

.new-node {
    &-button {
        padding: 10px;
    }
}

.button-section {
    padding-top: 10px;
    display: flex;
}

.new-slice-button {
    padding: 10px;
}